.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #eee;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03); */
  font-family: "Segoe UI", sans-serif;
}

.logo {
  margin-left: 1rem;
}
.logo-image {
  height: 100px;
  width: auto;
}

.brand-name {
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-links a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #444;
  font-weight: 500;
  position: relative;
  transition: all 0.2s ease;
}

.nav-links a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #553c9a;
  transition: width 0.3s;
}

.nav-links a:hover::before {
  width: 100%;
}
