.page-wrapper {
  padding: 2rem;
  font-family: "Inter", sans-serif;
  background: white;
}

.content-container {
  max-width: 800px;
  margin: 0 auto;
}

.problem-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  color: #4b006e;
  word-spacing: 5px;
  line-height: 38px;
}

.image-caption {
  font-style: italic;
  font-size: 1.4rem;
}
.content-image {
  width: 100%;
  border-radius: 1rem;
}

.section-heading {
  font-size: 1.4rem;
  margin-top: 2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.body-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: black;
}

.custom-list {
  padding-left: 1.2rem;
  margin-bottom: 1rem;
}

.custom-list li {
  margin-bottom: 0.5rem;
}

.quote-box {
  background: #f3f1ff;
  border-left: 4px solid #9e7fff;
  padding: 1rem;
  margin-top: 2rem;
  font-style: italic;
  border-radius: 6px;
  color: #333;
}
.problem-list {
  padding-left: 1.5rem;
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
}

.problem-list li {
  margin-bottom: 0.75rem;
  list-style: disc;
}

.quote {
  margin-top: 3rem;
  font-style: italic;
  color: #5a007c;
  background: #f4e9ff;
  padding: 1.25rem;
  border-left: 4px solid #9e6dc2;
  border-radius: 0.5rem;
}

.quote-author {
  display: block;
  margin-top: 0.75rem;
  font-weight: 600;
}

.problem-image {
  display: block; /* makes the img a block element */
  margin: 1rem auto 0; /* top margin 1rem, horizontal margins auto (centers), bottom 0 */
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
