@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #6d247a;
  --secondary-color: #9e66d0;
  --button-color: black;
  --background-color: #ffffff;
  --muted-color: #5f6368;
}

h1 {
  font-family: "poppins", serif;
  font-weight: 900;
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  color: var(--secondary-color);
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
